@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	scroll-behavior: smooth;
	scroll-padding-top: 60px;
}

@layer base {
	body {
		// @apply bg-[#ecf0f3] tracking-wide text-[#1f2937];
		@apply bg-body tracking-wide text-white;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@apply font-bold;
	}

	h1 {
		@apply m-0 p-0 text-4xl sm:text-5xl md:text-6xl;
	}

	h2 {
		@apply text-3xl sm:text-4xl;
	}

	button {
		@apply w-2/4 rounded-sm bg-gradient-to-r from-[#5651e5] to-[#709dff] p-5 uppercase text-white shadow-xl;
	}
}

.inner-box {
	height: 20rem;
}
.box {
	height: 85vh;
}
.box-shadow {
	box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.5);
}
